$fs:0.12rem;
$err:#f5222d;
$color:#999999;
$color3:#333333;
$color6:#666666;
$blue:#1890FF;
$lightBlue:#46a6ff;
$darkBlue:#2983af;
$themeColor:#108ae0;
$pink:#fde3e3;
$green:#1dcd5c;
$statisticsTheme:#081039;